        <div class="function-area" >
          <ul>
            <li><a ng-click="submitted = true;(myForm.$valid) ? specificSection.saveSection():''"><img height="16" src="assets/images/save-icon.png">
              <vc-label vc-property="specificprop.properties.save"></vc-label>
              </a></li>
            <li><a ng-click="specificSection.back()"><img height="16" src="assets/images/arrow-back-16.png">
              <vc-label vc-property="specificprop.properties.back"></vc-label>
              </a></li>
          </ul>
          <ul class="pull-right function-right">
            <li ng-repeat="act in defaultActions" uib-tooltip="{{act.tooltp}}" tooltip-placement="bottom"><a ng-click="onToolClick($event, act)"> <img height="22" ng-src="{{act.icon}}"></a> </li>
          </ul>
        </div>
        <form name="myForm" novalidate>
          <div class="gridWraper" ng-class="{true: 'error'}[submitted && myForm.$invalid]">
             <div class="col-md-6 col-sm-12 ltRtPading">
              <div class="headingBox">
                <h3 class="heading"><vc-label vc-property="specificprop.section.h1"></vc-label></h3>
              </div>
              <p class="blankSpace">&nbsp; </p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="dialogbox-table-bg">
                <tr>
                  <th><vc-label vc-property="specificprop.section.h2"></vc-label></th>
                </tr>
                <tr>
                  <td class="labelCont"><input name=req type="text" required class="comTextbox" maxlength="2"  ng-model="specificSection.sectionData.token">
                  <span class="pull-left"> <vc-label vc-property="specificprop.shortcut"></vc-label></span>
                    </td>
                </tr>
                <tr>
                  <td class="labelCont"><input name=req type="text" required class="comTextbox" ng-model="specificSection.sectionData.designator" >
                  
                    <span class="pull-left"><vc-label vc-property="specificprop.identifier"></vc-label></span>
                  
                    
                </td>
                </tr>
              </table>
            </div>
            <p class="blankSpace">&nbsp; </p>
          </div>
        </form>

