<div class="function-area">
    <ul>
        <li><a ng-click="submitted = true;(myForm.req.$valid)?onUpdateUser():''"> <img height="17" src="/assets/images/green-add-icon.png"> <vc-label vc-property="admin.systemuser.user.save"></vc-label> </a></li>
        <li><a ng-click="backToRoot()"> <img height="17" src="/assets/images/arrow-back-16.png"><vc-label vc-property="general.back"></vc-label></a></li>

    </ul>
    <ul class="pull-right function-right">
        <li ng-repeat="act in defaultActions" uib-tooltip="{{act.tooltp}}" tooltip-placement="bottom"><a ng-click="onToolClick($event, act)"> <img height="22" ng-src="{{act.icon}}"></a> </li>
    </ul>
</div>

<div class="rt-content-box">
    <form name="myForm" novalidate >
        <input type="password" style="display: none"/>
        <!--<div class="confirm-msgbox">Access to administrator group data is only read only.</div>-->

        <div class="gridWraper" ng-class="{true: 'error'}[submitted && myForm.req.$invalid]">

            <div class="col-sm-6 pad-left-0">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="dialogbox-table-bg">
                    <tr>
                        <th colspan="2"><vc-label vc-property="admin.systemuser.user.AccData"></vc-label></th>
                    </tr>
                    <tr>
                    <td ng-if="adduserCnrtllr.showCstNameList">
                <vc-select-box-bottom vc-list-content="adduserCnrtllr.customerNameList" vc-list-display-key="id" vc-list-display-var="designator" vc-getdata="getCustomerName(data)" ng-model="adduserCnrtllr.customerName">
          </vc-select-box-bottom>
                    <vc-tool-tip 
                        tool-tip-lable      = "tooltip.overviewUser.masterData.customer.lable" 
                        title-description   = "tooltip.overviewUser.masterData.customer.titledescription"
                        field-uid           = "tooltip.overviewUser.masterData.customer"
                        title-mandatory     = "true">
                    </vc-tool-tip>
                </td>
                </tr>
                    <tr>
                        <td colspan="2">
                            <vc-text-box-bottom vc-require="true" ng-model="adduserCnrtllr.updateuser.login"></vc-text-box-bottom>
                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.designation.lable" 
                                title-description   = "tooltip.overviewUser.masterData.designation.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.designation"
                                title-mandatory     = "true">
                            </vc-tool-tip>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <vc-select-box-bottom vc-type='user' vc-require= true vc-list-content="adduserCnrtllr.mandant" vc-list-display-key="dbId" vc-list-display-var="designator" vc-getdata="getUserGroupBymId(data)" ng-model="adduserCnrtllr.selectedMandator"></vc-select-box-bottom>
                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.mandant.lable" 
                                title-description   = "tooltip.overviewUser.masterData.mandant.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.mandant"
                                title-mandatory     = "true">
                            </vc-tool-tip>
                        </td>

                        <td>
                            <vc-select-box-bottom vc-list-content="adduserCnrtllr.mandantusergroup" vc-list-display-key="id" vc-list-display-var="designator" vc-getdata="getProfileByuId(data)" ng-model="adduserCnrtllr.selectedUsergroup"></vc-select-box-bottom>

                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.usergroup.lable" 
                                title-description   = "tooltip.overviewUser.masterData.usergroup.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.usergroup"
                                title-mandatory     = "true">
                            </vc-tool-tip>
                        </td>

                    </tr>
                    <tr>

                        <td  colspan="2">
                            <vc-select-box-bottom vc-list-content="adduserCnrtllr.defaultProfile" vc-list-display-key="id" vc-list-display-var="" vc-getdata="getSelectedProfile(data)" ng-model="adduserCnrtllr.profiles"></vc-select-box-bottom>

                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.defaultProfile.lable" 
                                title-description   = "tooltip.overviewUser.masterData.defaultProfile.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.defaultProfile"
                                title-mandatory     = "true">
                            </vc-tool-tip>

                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <vc-text-area vc-require=false ng-model="adduserCnrtllr.updateuser.notes"></vc-text-area>

                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.notes.lable" 
                                title-description   = "tooltip.overviewUser.masterData.notes.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.notes">
                            </vc-tool-tip>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"> <span class="pull-left divisionWraper">
                            <input type="text" class="comTextbox" ng-model="adduserCnrtllr.orgLabel">
                            <!--
                            <span class="pull-left" >Assign Organisation</span>
                            -->
                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.orgLabel.lable" 
                                title-description   = "tooltip.overviewUser.masterData.orgLabel.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.orgLabel">
                            </vc-tool-tip>
                            </span>
   <a  class="divisionIcons labelCont"  ng-click="openOrganisation()"><img height="16" src="/assets/images/green-edit-icon.png"></a>
 
   <a  class="divisionIcons labelCont"  ng-click="systemuseruserCnrtllr.orgLabel = ''"> <img height="16" src="/assets/images/del-icon.png"></a>
                        </td>
                       
                    </tr>
                </table>

                <p class="blankSpace">&nbsp;</p>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="dialogbox-table-bg">
                    <tr>
                        <th colspan="2"><label class="ng-binding"> Password</label> </th>
                    </tr>

                    <tr>
                        <td colspan="2"><vc-check-box vc-property="admin.systemuser.user.ldapuser"
                                                  ng-model="adduserCnrtllr.updateuser.ldap"></vc-check-box>
                    </td>

                    </tr>

                    <tr>
                        <td width="50%">
                            <input type="Password" name="req" class="comTextbox" ng-model="adduserCnrtllr.updateuser.password" required>
                            <!--
                            <span class="pull-left"><vc-label vc-property="admin.systemuser.user.password"></vc-label></span> 
                            -->
                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.password.lable" 
                                title-description   = "tooltip.overviewUser.masterData.password.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.password"
                                title-mandatory     = "true">
                            </vc-tool-tip>
                        </td>
                        <td width="50%">
                            <input type="Password" name="req" class="comTextbox" ng-model="adduserCnrtllr.updateuser.confirmPassword" required>
                            <!--
                            <span class="pull-left"><vc-label vc-property="admin.systemuser.user.confirmpassword"></vc-label></span>
                            -->
                            <vc-tool-tip 
                                tool-tip-lable      = "tooltip.overviewUser.masterData.confirmpassword.lable" 
                                title-description   = "tooltip.overviewUser.masterData.confirmpassword.titledescription"
                                field-uid           = "tooltip.overviewUser.masterData.confirmpassword"
                                title-mandatory     = "true">
                            </vc-tool-tip>
                        </td>
                    </tr>

                </table>


            </div>


        </div>
               
      <vc-bottom-tool-tip vc-content="bottomToolTip.adminadduser"></vc-bottom-tool-tip>
    </form>
</div>
