<div class="hierarchical-tab clearfix">
<div class="function-area" ng-init="getData()">
    <ul>
        <li><a ng-click="savePropertyRights()"> <img height="17" src="/assets/images/green-add-icon.png"> Save </a></li>

    </ul>
<!--    <ul class="pull-right function-right">
        <li ng-repeat="act in defaultActions" uib-tooltip="{{act.tooltp}}" tooltip-placement="bottom"><a ng-click="act.action"><img height="22" ng-src="{{act.icon}}"></a></li>
    </ul>-->
</div>
<div class="col-sm-12">
    <div class="headingBox">
        <h3 class="heading">Rights on Properties</h3>
    </div>
    <p class="blankSpace">&nbsp;</p>
	<div class="form-group clearfix">
		<vc-hierarchical-right-prop-grid></vc-hierarchical-right-prop-grid>
	</div>
</div>
</div>